body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #343434;
    color: #fff;
}

.btn {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #2b6799;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    width: 150px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e40b79;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    color: #606060;
}

/* Additional style elements */
h1 {
    color: #fff;
}

h2 {
    color: #fff;
}

p {
    color: #fff;
}