body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #343434; /* You can choose a suitable background color */
    color: #fff; /* Dark Grey for text */
}

.btn {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #2b6799;
    color: #fff; /* White text for contrast */
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    width: 150px;
    transition: background-color 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.btn:hover {
    background-color: #e40b79;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    color: #606060; /* Grey for secondary text */
}

/* Additional style elements */
h1 {
    color: #fff; /* Dark Grey for headings */
}

h2 {
    color: #fff; /* Dark Grey for headings */
}

p {
    color: #fff; /* Light Grey for paragraph text */
}